

.product{
    flex-direction: column;
    max-width: 100%
}
.main{
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    height: 500px;
}
.main .main-image{
width: 100%;
    height: 500px;
    object-fit: cover;
}
.main .product-image-varity{
    display: flex;
    width: 100%;
    height: 140px;
}
.main .product-image-varity img{
    width: 30%;
    margin: 3px;
    object-fit: cover;
    height:90% ;
}
.product-text{
    width: 80%;
    height: 500px;;

}
@media screen and (max-width:700px){
    .main .product-image-varity img{
    width: 20%;
    margin: 7px;
    margin-top: 3px ;
    }
    
}