

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 90%);
}
.product{
    display:flex;
    justify-content: center;
    max-width: 800px;
    min-height:580px;
    margin: auto;
    padding: 20px;
    background-color:white
    ;
}
.main{
    width: 60%;
    display: flex;
    height: 500px;
    
}
.main .main-image{
width:75%;
height: 100%;
}

.product-image-varity{
    width: 25%;
    height: 100%;
    padding-left: 5px;
    padding-top: 10px;
}
.product-image-varity img{
 height: 110px;
 width: 90px;
 margin: 2px;
 border: 1px solid black;
}
.product-text{
    width: 50%;
    height: 500px;
    flex-wrap: wrap;
    overflow: hidden;
}
.child4{
    width:40px;
    height: 40px;
    background-color: rgb(4, 4, 68) !important;
    border: 5px solid rgb(49, 48, 48);
}
.child6 h3{
    width: 40px;
    height: 30px;
}